@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: electrolize, sans-serif;
    font-weight: bold;
}

#rules-heading {
    color: #589595;
    text-align: center;
    font-family: electrolize, sans-serif;
    padding: 10px 0;
    margin-bottom: 20px;
}

#all-rules {
    color: #225762;
    text-align: center;
    font-family: electrolize, sans-serif;
    padding: 20px;
    border: 1px solid #589595;
    border-radius: 5px;
}

#help {
    display: inline-block;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #589595;
    font-family: electrolize, sans-serif;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

#help button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #589595;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#reset {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #589595;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#reset button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #589595;
    font-family: electrolize, sans-serif;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal {
    display: none; /*Keeps my modal hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* This will made my modal sit on top of the game*/
    left: 0;
    top: 0;
    width: 100%; /* Full width*/
    height: 100%; /* Full height*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Put the content at 15% from the top and center it*/
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    width: 50%; /*Could be more or less, depending on the screen size */
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.score-board {
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: black;
    font-size: 40px;
    padding: 15px 20px;
    font-family: electrolize, sans-serif;
    position: relative;
}

.badge {
    background: #589595;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: electrolize, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
    font-family: electrolize, sans-serif;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
    font-family: electrolize, sans-serif;
}

.result {
    font-size: 30px;
    color: black;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: electrolize, sans-serif;
}

.choices {
    margin-top: 50px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choice {
    /*border: 8px solid #589595; */
    border-radius: 50;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}  

.choice:hover {
    cursor: pointer;
    border-radius: 50%;
    background: #225762;
}

.green-glow {
    border: 8px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 8px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 8px solid #464647;
    box-shadow: 0 0 10px #25292b;
}



